.QNJ-CLIENT-ARE-DISPLAY
{
    position: absolute;
    top: 17.5%;
    left: 2.8%;
    height: 800px;
    width: 1800px;
    display: flex;
    background-color: #111111;
    border-radius: 10px;
    border: solid 2px rgb(132, 0, 255);
}

.QNJ-CLIENT-SEPRATED-DATA-CONTAINER
{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 1800px;
    height: 800px;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
}

.QNJ-CLIENT-SEPARATE-SECTION
{
    position: relative;
    width: 225px;
    height: 800px;
}

.QNJ-CLIENT-TITLE-SECTION
{
    position: relative;
    width: 225px;
    height: 70px;
    border-bottom: solid 2px rgb(132, 0, 255);
}

.QNJ-CLIENT-SPAN-TITLE
{
    position: absolute;
    color: #fff;
    font-size: 19px;
    text-align: center;
    font-weight: 600;
    width: 225px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.QNJ-CLIENT-DATA-SECTION
{
    position: relative;
    height: 730px;
    width: 225px;
}


.component-0-0,
.component-0-1,
.component-0-2,
.component-0-3,
.component-0-4,
.component-0-5,
.component-0-6,
.component-0-7,
.component-0-8
{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 35px;
    width: 225px;
    height: 16px;
    max-width: 225px;
    max-height: 16.5px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
}

.QNJ-DELETE-CLIENT-ID-CLASS
{
    position: relative;
    display: flex;
    justify-content: center;
    left: 50%;
    transform: translate(-50%, 0px);
    margin-top: 35px;
    width: 180px;
    height: 16px;
    max-width: 90px;
    max-height: 16.5px;
    border-radius: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 600;
    background-color: rgb(103, 0, 220);
    cursor: pointer;
}